release/
dist/
staging/
art/
archive/
1old/

unbalance.plg
unbalance.conf
unbalance.hist

*.tar.gz
*.tgz
*.zip
*.7z
*.log
*.out

.DS_Store

# vendoring
node_modules
vendor
.cache
dist

# binaries
server/server
server/unbalance
unbalance
