/* OVERRIDE FOUNDATION */
body, html, h1, h2, h3, h4, h5, h6 {
	font-family: Lato, Helvetica;
}

.label, .button {
	font-family: Lato, Helvetica;
}
	.label.watched {
		background-color: #2c3e50;
	}


.button {
	margin: 0;
}

.button.best-fit {
/*	background-color: #5CAD85;
*/	background-color: #3D9970;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
}

header {
	background: #E6EAEE;

/*	background: #E6EAEE;
*//*	background: #EFF2F4;
*//*	background: #34495e;
*//*	background: #ecf0f1;
*/}

button.tiny, .button.tiny {
	font-size: 14px;
}


/* CUSTOMIZE TOPBAR TO MY LIKING */
.top-bar {
    background: #E6EAEE;
}

.top-bar .name h1 a {
	color: #32BD44;
	font-family: 'Amaranth', Lato, Helvetica;
	font-size: 175%;
/*	text-transform: uppercase;
*/}

.top-bar-section li a:not(.button) {
    background: #E6EAEE !important;   
}

.top-bar-section li a:not(.button):hover {
    background: #EFF2F4 !important;   
}

.top-bar-section ul li.active > a {
    background: gray !important;   
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;   
}

.top-bar-section .has-form {
    background: #E6EAEE !important;   
}

.top-bar-section input {
	height: 30px;
}



main {
	background: #EFF2F4;
/*	padding: 10px 0;
*/}

main h4 {
	color: #C14242;
/*	color: #2c3e50;
*/	margin: 0;
}

main .overview {
	padding-top: 5px;
	padding-bottom: 10px;
}

nav .menu {
	padding-top: 5px;
}

footer {
	color: white;
	background: #2c3e50;
	height: 70px;
}

article {
	padding: 5px 0;
	border-bottom: 1px solid #E6EAEE;
}

.import-cover {
	padding-top: 25px;
}

.import-status {
	padding: 15px 0;
}

.rating {
	font-size: 75%;
}

.rating .rating-highlight, .rating.rating-highlight:hover {
  color: #F4914E;
}

.rating .rating-normal, .rating.rating-normal:hover {
  color: #3C3C3C;
}

.score-numeral {
	margin: 5px 5px 0 5px;
}

input.watched {
	margin-left: 10px;
}

.transparent {
	opacity: 0.6;
}

.movie-item {
    height: 12.2em;
    overflow: hidden;	
}

.alert {
	margin-top: 20px;
	color: red;
}