// a, img {
// 	display: flex;
// }

header {
	margin: 0.5em 0;	
}

main {
	flex: 1;
}

footer {
	color: $footerColor;
	background-color: $footerBackground;

	padding: 0.5em 0;
	margin: 0.5em 0;

	font-size: 0.75em;

	a {
		color: $footerAnchorColor;
	}
}

a, img {
	display: flex;
}


.headerLogoBg {
	background-color: $headerLogoBackground;	
}

.headerMenuBg {
	background-color: $headerMenuBackground;
}

.routerSection {
	a {
		font-size: 0.9em;

		&.active {
			padding-bottom: 3px;
			border-bottom: 3px solid $headerMenuAnchorColor;
		}
	}	
}

.gridHeader {
	background-color: $headerMenuBackground;
	padding: 1em 0;

	label {
		font-size: 0.75em;
	}
}

.console {
	// display: flex;	

	overflow: auto;
	// width: 100%;
	height: 300px;
	// border: 1px solid $console-border;
	padding: 0.75em;
	color: $consoleColor;
	background-color: $consoleBg;

	.consoleLine {
		font-size: 0.8em;
	// line-height: 0.5em;    	
	}

	p {
		margin-bottom: 0;
		white-space: nowrap;
	}
}

.treeView {
	user-select: none;

	ul {
		margin: 0;
		padding: 0;
		padding-left: 1em;
	}

	& > ul {
		padding-left: 0;
	}

	li { 
		list-style-type: none;
	}

	.floating {
		margin-right: 0.5em;
		visibility: hidden;
	}

	& .listItem:hover > .floating {
		visibility: visible;
	}

	.chevron {
		color: $silverChalice;
	}

}

.sidebar,
.content {
	padding: 1em;
}

.sidebar {
	background-color: $cement-gray;
}

.content {
	background-color: white;
}

.divider {
	color: $light-gray;
	padding: 0.5em;
	font-size: 0.85em;
	background-color: $elegant-blue;
	border: 1px solid $lighter-gray;
}

	// border-bottom: 3px solid $headerMenuAnchorColor;


// .tree-view {
// 	font-size: 14px;
// 	user-select: none;
// 	-webkit-user-select: none;
// }

// .tree-view ul {
// 	margin: 0;
// 	padding: 0;
// 	padding-left: 13px;
// }

.tree-view > ul {
	padding-left: 0;
}

.tree-view li {
	list-style-type: none;
}

.tree-view .listItem {
	cursor: default;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}



.tree-view .listItem:hover > .detail {
	visibility: visible;
}


.tree-view .name {
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 25px;
	line-height: 25px;
	height: 25px;
	margin-left: 15px;
}

.tree-view .file > .listItem .name {
	background-image: url(../img/file.png);
}

.tree-view .folder > .listItem .name {
	background-image: url(../img/folder.png);
}

.tree-view .entry.selected:before {
	content: '';
	position: absolute;
	// left: 0;
	// right: 0;
	height: 25px;
	background-color: #f5f5f5;
	z-index: -1;
}

.tree-view .folder.open > .listItem:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 25px;
	background-image: url(../img/chevron-down.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.tree-view .folder.closed > .listItem:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 25px;
	background-image: url(../img/chevron-right.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.tree-view .file > .listItem:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 25px;
}


// .detail {
//   margin-left: 25px;
//   visibility: hidden;
// }

// .master:hover > .detail {
//   visibility: visible;
// }

// $breakpoint-2: 600px;

// .dashboard {
// 	@media (min-width: $breakpoint-2) {
// 		border-collapse: collapse;
// 		font-size: 0.9em; 
// 	}

// 	thead {
// 		display: none;

// 	    @media (min-width: $breakpoint-2) {
// 	      // Undo display: block 
// 	      border-bottom: 1px solid $borderColor;
// 	      display: table-header-group; 
// 	    }		
// 	}

// 	th, td, tr {
// 		display: block;
// 	}

// 	th, td {
// 	    text-align: left;

// 		@media (min-width: $breakpoint-2) {
// 			color: $footerBackground;
// 			display: table-cell;
// 		}
// 	}

// 	tr {
// 		margin-bottom: 1em;

// 		@media (min-width: $breakpoint-2) {
// 			// Undo display: block 
// 			display: table-row;
// //			padding: 1em 0.25em;

// 			&:nth-of-type(even) { 
// 				background-color: $borderColor; 
// 			}	      
// 		}
// 	}

// 	td {
// 		color: $primaryTextColor;
// 		background-color: $borderColor;
// 		font-size: 0.75em;
// 		padding: .5rem .25rem;

// 		@media (min-width: $breakpoint-2) {
// 			font-size: 1em;
// 			background-color: transparent;
// //			padding: .5rem .25rem;
// 		}			

// 		&:first-child {
// 			color: white;
// 		    background-color: $footerBackground;

// 		    @media (min-width: $breakpoint-2) {
// 		      // Undo display: block 
// 		      color: $primaryTextColor;
// 		      background-color: transparent;
// 		    }		    

// 		    &:before {
// 		    	width: auto;
// 		    }
// 		}

// 		&:before {
// 			// optional stuff to make it look nicer
// 			width: 6.5em; // magic number :( adjust according to your own content
// 			display: inline-block;
// 			// end options

// 			@media (min-width: $breakpoint-2) {
// 				display: none;
// 			}			
// 		}

// 		// &:nth-of-type(1):before { content: "Disk" }
// 		&:nth-of-type(2):before { content: "Serial" }
// 		&:nth-of-type(3):before { content: "From" }
// 		&:nth-of-type(4):before { content: "To" }
// 		&:nth-of-type(5):before { content: "Size" }
// 		&:nth-of-type(6):before { content: "Free" }
// 		&:nth-of-type(7):before { content: "Fill" }
// 		&:nth-of-type(8):before { content: "Plan" }			
// 	}

// }
