footer {
	color: $footer-color;
	background-color: $footer-bg;
	padding: 0.5em 0;

	margin: 0.5em 0;
	font-size: 0.75em;	
}

.legal {

	a, img, span, div {
		display: flex;
	}

	a {
		color: $footer-anchor-color;
	}
}


// footer {
// 	color: $footerColor;
// 	background-color: $footerBackground;

// 	font-size: 0.75em;	

// }

// .legal {

//     @media (min-width: $breakpoint-2) {
// 		flex-direction: row;
// 		justify-content: space-between;
//     }	

// 	a, span {
// 		display: flex;
// 	}

// 	a {
// 		color: $headerBackground;
// 	}
// }

// .copyright,
// .version {
// 	@extend %spacer;

//     @media (min-width: $breakpoint-2) {
// 		margin: 0;
//     }	
// }

// .logos {
// 	span:not(:last-child) {
// 		margin-right: 1em;
// 	}
// }