// Grid

.container {
  @include container-fixed;

  max-width: $container-max-width;  

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.container-fluid {
  @include container-fixed;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);
  box-sizing: border-box;

  &.reverse {
    flex-direction: row-reverse;
  }
}

@include alignment('xs');

@media (min-width: $screen-sm-min) {
	@include alignment('sm');
}
@media (min-width: $screen-md-min) {
	@include alignment('md');
}
@media (min-width: $screen-lg-min) {
	@include alignment('lg');
}

@include make-grid();

@include loop-columns('xs');

@media (min-width: $screen-sm-min) {
  @include loop-columns('sm');
}

@media (min-width: $screen-md-min) {
  @include loop-columns('md');
}

@media (min-width: $screen-lg-min) {
  @include loop-columns('lg');
}