header {
	// background-color: $headerMenuBackground;
	margin: 0.5em 0;
}

.header__logo,
.header__menu {
	padding: .5em 0;
}

.header__logo {
	background-color: $headerLogoBackground;

	a {
		color: $headerLogoAnchorColor;
	}
}

.header__menu {
	background-color: $headerMenuBackground;	
}

.header__menu-section {
	// background-color: $headerMenuBackground;

	a {
		font-size: 0.9em;
		// color: $headerMenuAnchorColor;

		&.active {
			padding-bottom: 3px;
			border-bottom: 3px solid $headerMenuAnchorColor;
		}
	}	
}

// header {
// 	color: $headerColor;
// 	background-color: $headerBackground;

// 	// @include flexbox(flex, row, center, stretch);
// }

// nav {
// 	// @include flexbox(flex, column, center, stretch);

//     @media (min-width: $breakpoint-2) {
// 		flex-direction: row;
// 		justify-content: space-between;
//     }	

// 	ul {
//         // @include flexbox(flex, row, center, center);

//         margin: 0;

// 		li {
// 			list-style: none;

// 			a {
// 				display: flex;
// 			}
// 		}
// 	}
// }

// .header-logo, 
// .header-menu {
// 	@extend %spacer;

//     @media (min-width: $breakpoint-2) {
// 		margin: 0;
//     }
// }

// @import 'social-follow';