// components
@mixin button-variant($color: $button-default-color, $background: $button-default-bg) {
	color: $color;
	background-color: $background;
	border-color: darken($background, 5%);

	&:focus,
	&.focus {
		background-color: darken($background, 5%);
		border-color: darken($background, 12%);
	}

	&:hover {
		background-color: darken($background, 5%);
		border-color: darken($background, 7%);
	}	
}

@mixin bg-variant($color) {
	background-color: $color;
	border: 1px solid darken($color, 10%);
	padding: 0.5em;

	&:hover,
	&:focus {
		background-color: darken($color, 10%);
	}
}