main {
	// @include flexbox(flex, row, center, stretch);

	flex: 1;
}

.dashboard-header {
	// @include flexbox(flex, column, center, center);

	background-color: $dashboard-header-bg;
	padding: 0.5em;

    @media (min-width: $breakpoint-2) {
		flex-direction: row;
		justify-content: space-between;
    }	
}

.dashboard-status {
	margin-bottom: 1em;

	@media (min-width: $breakpoint-2) {
		margin-bottom: 0;
	}
}

.dashboard-status,
.dashboard-commands {
	// @include flexbox(flex, row, center, center);
}

.dryrun {
	// @include flexbox(flex, column, center, center);
	margin-left: 1em;
	font-size: 0.5em;
}


// .console {
//     @include e('lines') {
// 	    overflow: auto;
// 	    width: 100%;
// 	    height: 450px;
// 	    border: 1px solid $borderColor;
// 	    padding: 0.75em;
// 	    color: $console-color;
// 	    background-color: $console-bg;
//     };

//     @include e('line') {
// 		font-size: 0.8em;
// 		line-height: 0.5em;    	
//     }

//     p {
//     	white-space: nowrap;
//     }
// }
