// Fonts
@import url('http://fonts.googleapis.com/css?family=Lato');

// Grid Variables
$screen-sm-min: 48em !default;
$screen-md-min: 62em !default;
$screen-lg-min: 75em !default;
// $screen-xs-max: ($screen-sm-min - 1) !default;
// $screen-sm-max: ($screen-md-min - 1) !default;
// $screen-md-max: ($screen-lg-min - 1) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 0.5em !default;

$container-max-width: 78em;

$container-sm: (46em + $grid-gutter-width) !default;
$container-md: (64em + $grid-gutter-width) !default;
$container-lg: (73em + $grid-gutter-width) !default;

// DatePicker Variables
$border-color: #aeaeae;
// $background-color: #f0f0f0;
// $selected-color: #216ba5;
// $muted-color: #ccc;
// $text-color: #000;

$border-radius: 4px;
$item-size: 24px;
$day-margin: 2px;
$triangle-size: 8px;
$datepicker__margin: 5px;

// Dimensions
// $maxWidth: 1250px;
// $pad: 1em;

$padding-button-vertical: 0.5em;
$padding-button-horizontal: 0.75em;

$breakpoint-1: 480px;
$breakpoint-2: 600px;

// Palette
$white-gray: #f2f2f2;
$light-gray: #F6F7F8;
$lighter-gray: #e9edef;
$cement-gray: #DBE1E5;
$dark-gray: #9DA3A7;
$darker-gray: #7C8893;

$elegant-blue: #204862;
$gray-blue: #57626C;
$charcoal-blue: #343642;
$cheerful-blue: #008cba;
$unbalance-blue: #333;
$unbalance-footer: #1E446F;

$bright-orange: #C63D0F;
$mellow-orange: #f08a24;

$lighter1-red: #F26A9A;
$mellow-red: #FF3B59;
$fiery-red: #f04124;
$bright-red: #D01524;
$acre-red: #C73429;
$dark-red: #B21524;

$casual-green: #43ac6a;
$unbalance-green: #0BD43B;

$pale-yellow: #FEF5C4;

// Colors
$bodyBackground: $light-gray;
$primaryTextColor: #666;

//$primaryColor: #555;
$primaryColor: #666;
//$primaryAnchorColor: #415571;
$primaryAnchorColor: #333;
$primaryHeadersColor: #204862;

$primaryAnchorColor: $elegant-blue;
$primaryHeaderColor: $elegant-blue;


$strongColor: white;
$strongBackground: #2E688C;

$progress-background: #f6f6f6;
$progress-meter: #008cba;

$headerColor: #333;
//$headerBackground: #FCD33F;
$headerBackground: #0BD43B;

$footerColor: #7c7c72;
//$footerBackground: #333;
//$footerBackground: #1E446F;

$button-default-color: $unbalance-footer;
$button-default-background: #09be35;

$button-primary-color: white;
$button-primary-background: $progress-meter;

$socialColor: white;

$borderColor: #eee;

$badge-bg: #FEF5C4;

$label-color: #fff;
$label-success-bg: #5cb85c;
$label-warning-bg: #f0ad4e;

$console-color: white;
$console-bg: #343642;

$dashboard-header-bg: $borderColor;

// ELEMENTS
$padding-default: 0.5em;

$label-default-bg: $cheerful-blue;
$label-alert-bg: $fiery-red;
$label-warning-bg: $mellow-orange;
$label-success-bg: $casual-green;
$label-secondary-bg: $cement-gray;

$button-default-color: white;
$button-default-bg: $cheerful-blue;
$button-primary-color: white;
$button-primary-bg: $elegant-blue;

$button-padding-vertical: 0.3em;
$button-padding-horizontal: 1em;

$state-warning-bg: $pale-yellow;

$form-element-border: $cement-gray;
$form-addon-bg: $cement-gray;
$form-element-padding-vertical: 0.3em;
$form-element-padding-horizontal: 0.6em;


// HEADER
//$headerLegalColor: white;
// $headerBackground: #DAD7CF;
// $headerBackground: #C63D0F;
$headerLogoAnchorColor: $unbalance-blue;
$headerLogoBackground: $unbalance-green;
//$headerLogoBackground: #609FA2;
// $headerLogoBackground: #F26A9A;

$headerMenuAnchorColor: $elegant-blue;
$headerMenuBackground: $lighter-gray;

// FOOTER
$footer-color: $gray-blue;
$footer-bg: $headerMenuAnchorColor;
//$footer-bg: transparent;
$footer-anchor-color: $headerLogoBackground;
