.wrapper {
	@include flexbox(flex, row, center, stretch);
	flex: 1;
}

.container {
/*	width: 100%;
*/	max-width: $maxWidth;
//	margin: auto;
	padding: 10px;
	padding-bottom: 0;

	@include flexbox(flex, column, flex-start, stretch);
//	flex: 1;
}