footer {
	color: $footerColor;
	background-color: $footerBackground;

	font-size: 0.75em;	

	@include flexbox(flex, row, center, stretch);
}

.legal {
	@include flexbox(flex, column, center, center);

	a, span {
		display: flex;
	}

	a {
		color: $headerBackground;
	}
}

.copyright {
	@extend %spacer;
}	
