header {
	color: $headerColor;
	background-color: $headerBackground;

	@include flexbox(flex, row, center, stretch);
}

nav {
	@include flexbox(flex, column, center, stretch);

	ul {
        @include flexbox(flex, row, center, center);

        margin: 0;

		li {
			list-style: none;

			a {
				display: flex;
			}
		}
	}
}

.header-logo, 
.header-menu {
	@extend %spacer;
}

@import 'social-follow';