header {
	color: $headerColor;
	background-color: $headerBackground;

	@include flexbox(flex, row, center, stretch);
}

nav {
	@include flexbox(flex, column, center, stretch);

    @media (min-width: $breakpoint-2) {
		flex-direction: row;
		justify-content: space-between;
    }	

	ul {
        @include flexbox(flex, row, center, center);

        margin: 0;

		li {
			list-style: none;

			a {
				display: flex;
			}
		}
	}
}

.header-logo, 
.header-menu {
	@extend %spacer;

    @media (min-width: $breakpoint-2) {
		margin: 0;
    }
}

@import 'social-follow';