.column {
	width: 100%;
	max-width: $maxWidth;
	padding: $pad;
}

@mixin flexbox($display: flex, $direction: column, $justify: center, $align: center) {
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

%border {
	border: 1px solid $borderColor;
}

%sticky {
	height:100%;
	min-height:100%;
	overflow: hidden;	
}

%centered {
	width: 100%;
	max-width: $maxWidth;
}

%spacer {
	margin-bottom: $pad;
}

%padder {
	padding: $pad;
}

@mixin button-variant($color: $button-default-color, $background: $button-default-background) {
	color: $color;
	background-color: $background;
	border-color: darken($background, 5%);

	&:focus,
	&.focus {
		background-color: darken($background, 5%);
		border-color: darken($background, 12%);
	}

	&:hover {
		background-color: darken($background, 5%);
		border-color: darken($background, 7%);
	}	
}

/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

/// @alias element
@mixin e($element) {
    @include element($element)  {
        @content;
    }
}

/// @alias modifier
@mixin m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}
