main {
	@include flexbox(flex, row, center, stretch);

	flex: 1;
}

.dashboard-header {
	@include flexbox(flex, column, center, stretch);

    @media (min-width: $breakpoint-2) {
		flex-direction: row;
		justify-content: space-between;
    }	
}
