main {
	@include flexbox(flex, row, center, stretch);

	flex: 1;
}

.dashboard-header {
	@include flexbox(flex, column, center, center);

    @media (min-width: $breakpoint-2) {
		flex-direction: row;
		justify-content: space-between;
    }	
}

.dashboard-status {
	margin-bottom: 1em;

	@media (min-width: $breakpoint-2) {
		margin-bottom: 0;
	}
}

.dashboard-status,
.dashboard-commands {
	@include flexbox(flex, row, center, center);
}

.dryrun {
	@include flexbox(flex, column, center, center);
	margin-left: 1em;
	font-size: 0.5em;
}