// Dimensions
$maxWidth: 1250px;

$homeEntryWidth: 70%;
$homeCoverWidth: 100% - $homeEntryWidth;

$contentWidth: 75%;
$asideWidth: 100% - $contentWidth;

// Colors
//$primaryColor: #555;
$primaryColor: #666;
//$primaryAnchorColor: #415571;
$primaryAnchorColor: #333;
$primaryHeadersColor: #204862;

$postMetaColor: #b3b3b3;

$postAnchorColor: #089E00;

$strongColor: white;
$strongBackground: #2E688C;

$headerColor: #333;
$headerBackground: #FCD33F;

$footerColor: #7c7c72;
$footerBackground: #333;

$socialColor: white;

$backgroundFacebook: #3b5998;
$backgroundTwitter: #55ACEE;
$backgroundPlus: #dd4b39;
$backgroundLinkedin: #0074A1;
$backgroundGithub: #333;
$backgroundRss: #e88845;

$pagerBoxColor: #bfc8cd;

$asideFormBackground: #4292C4;
$asideFormColor: white;
$asideFormSubmitBackground: #2E688C;

$borderColor: #eee;

$contactFormFocus: #2b3e51; // Pickled Bluewood
$contactFormBackground: #2c97de; // Curious Blue

$contactFormSuccessBackground: #428f42;
$contactFormErrorBackground: #E94B35;