		<section class="column">
			<div class="row badge warning" data-ng-if="vm.options.config.folders.length === 0">
				<span>There are no folders elegible for moving. Please enter them, in the input box below</span>
			</div>

			<div class="row">
				<form class="cd-form">
				<fieldset>
					<legend>Folders elegible for the moving process</legend>

					<p>Specify which folders will be available for moving. All folders should be relative to /mnt/user.</p>
					<p>For example, you may want to move only movies, but not tvshows. You have /mnt/user/Movies and /mnt/user/TVShows. In the input box below, you would enter Movies.</p>

					<div>
						<label>Folder</label>
						<input type="text" placeholder="folder elegible for moving" data-ng-model="vm.folder" data-ng-keyup="$event.keyCode == 13 && vm.addFolder()">
					</div>

					<div>
						<a href="#" class="btn btn-primary" data-ng-click="vm.addFolder()">Add</a>
					</div>

					<legend>Folders Selected</legend>

					<div>
						<table class="settings">
						<thead>
							<tr>
								<th>#</th>
								<th>Folder</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="folder in vm.options.config.folders">
								<td><a href="#" data-ng-click="vm.removeFolder($index)"><img src="/img/no.png"></a></td>
								<td>{{folder}}</td>
							</tr>
						</tbody>
						</table>
					</div>
				</fieldset>
				</form>
			</div>
			<div class="row">
				<form name="userForm" data-ng-submit="vm.submit(userForm.$valid)" class="cd-form" novalidate>
				<fieldset>
					<legend>Notifications</legend>

					<p>Notify via email when the moving process ends, as well as any errors that may occurr.</p>
					<p>It will include a list of all the files that take place in the move operation.</p>

					<div>
						<label>Notifications</label>
						<input type="checkbox" data-ng-checked="{{vm.options.config.notifications}}" data-ng-model="vm.options.config.notifications" data-ng-change="vm.flipNotifications()"/> 
					</div>

					<div class="notifications" data-ng-if="vm.options.config.notifications">
						<div>
							<label>From <span>(Email address you want this email to be sent from)</span></label>
							<input type="email" name="from" data-ng-model="vm.options.config.notiFrom" required /> 
							<small data-ng-show="userForm.from.$invalid && !userForm.from.$pristine && vm.submitted" class="help-block">Enter a valid From email.</small>
							<small data-ng-show="userForm.from.$error.required && !userForm.from.$pristine && vm.submitted" class="help-block">Field is required.</small>
						</div>
						<div>
							<label>To <span>(Email address you want this email to be sent to)</span></label>
							<input type="email" name="to" data-ng-model="vm.options.config.notiTo" required /> 
							<small data-ng-show="userForm.to.$invalid && !userForm.to.$pristine && vm.submitted" class="help-block">Enter a valid To email.</small>
							<small data-ng-show="userForm.to.$error.required && !userForm.to.$pristine && vm.submitted" class="help-block">Field is required.</small>
						</div>
						<div>
							<label>Server (provider) <span>(SMTP server host)</span></label>
							<input type="text" name="server" data-ng-model="vm.options.config.notiHost" required /> 
							<small data-ng-show="userForm.server.$error.required && !userForm.server.$pristine && vm.submitted" class="help-block">Field is required.</small>
						</div>
						<div>
							<label>Port <span>(SMTP server port)</span></label>
							<input type="number" name="port" data-ng-model="vm.options.config.notiPort" min="1" max="65535" required /> 
							<small data-ng-show="userForm.port.$error.min && !userForm.port.$pristine && vm.submitted" class="help-block">Enter a port number between 1 and 65535.</small>
							<small data-ng-show="userForm.port.$error.max && !userForm.port.$pristine && vm.submitted" class="help-block">Enter a port number between 1 and 65535.</small>
							<small data-ng-show="userForm.port.$error.required && !userForm.port.$pristine && vm.submitted" class="help-block">Field is required.</small>
						</div>
						<div>
							<label>Encryption <span>(Secure communication using TLS/SSL)</span></label>
							<input type="checkbox" name="encryption" data-ng-checked="{{vm.options.config.notiEncrypt}}" data-ng-model="vm.options.config.notiEncrypt" /> 
						</div>
						<div>
							<label>Username <span>(SMTP server user name)</span></label>
							<input type="text" name="username" data-ng-model="vm.options.config.notiUser" required /> 
							<small data-ng-show="userForm.username.$error.required && !userForm.username.$pristine && vm.submitted" class="help-block">Field is required.</small>
						</div>
						<div>
							<label>Password <span>(SMTP server password)</span></label>
							<input type="password" name="password" data-ng-model="vm.options.config.notiPassword" required /> 
							<small data-ng-show="userForm.password.$error.required && !userForm.password.$pristine && vm.submitted" class="help-block">Field is required.</small>
						</div>
						<div>
							<button class="btn btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>				
				</form>
			</div>
			</form>

		</section>