// STANDARD TAG STYLING
i {
	color: $headerMenuAnchorColor;

	&:hover {
		color: $headerLogoBackground;
		cursor: pointer;
	}

	&:disabled {
		background-color: #dddddd;
		cursor: default;
	}
}

input:not([type='checkbox']),
select {
	font-size: 0.9em;
	padding: 0.25em;
	border: 1px solid $form-element-border;
	min-width: 95px;

	&:focus {
		outline: none;
		border-color: $borderColor;
		box-shadow: inset 0 2px 2px #e9e9e9, 0 0 10px 0 rgba(73, 107, 125, 0.3);
	}
}

// input:focus {
// 	outline: none;
// 	border-color: $border-color;
// 	box-shadow: inset 0 2px 2px #e9e9e9, 0 0 10px 0 rgba(73, 107, 125, .3);
// }

select {
	-webkit-appearance: none !important;
	-webkit-border-radius: 0px;
	background-color: #fafafa;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
	background-position: 100% center;
	background-repeat: no-repeat;
	// border: 1px solid #cccccc;
	border: none;
	// font-size: 0.875rem;
	color: rgba(0, 0, 0, 0.75);
	// line-height: normal;
	// height: 2.3125rem;

	&:hover {
		background-color: #f3f3f3;
		border-color: #999999;
	}

	&:disabled {
		background-color: #dddddd;
		cursor: default;
	}
}

// FORMS
// form {
// }

fieldset {
	margin: 0;
	padding: 0.35em 0 0.75em;
	border: 0;
}

legend {
	//    display: block;
	width: 100%;
	padding: $padding-default 0;
	margin-bottom: $padding-default;
	// color: #333;
	border-bottom: 1px solid $form-element-border;
}

// LAYOUT
.body {
	display: flex;
	flex-direction: column;

	max-width: 78em;
	// min-height: 100vh;
	height: 100vh;
}

// PANELS
.bg-warning {
	@include bg-variant($state-warning-bg);
}

.bg-feedback {
	@include bg-variant($state-feedback-bg);
}

.bg-update {
	@include bg-variant($state-update-bg);
}

.addon {
	display: flex;
	// margin-bottom: 1.5em;
}

.addon-field {
	flex: 1;

	&:not(:first-child) {
		border-left: 0;
	}

	&:not(:last-child) {
		border-right: 0;
	}
}

.addon-item {
	background-color: $form-addon-bg;
}

.addon-field,
.addon-item {
	border: 1px solid darken($form-addon-bg, 10%);
	padding: $form-element-padding-vertical $form-element-padding-horizontal;
}

// LABELS
.label {
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	padding: 0.5em;
	font-size: 0.75em;
	background-color: $label-default-bg;
	color: white;

	&-alert {
		background-color: #f04124;
		color: white;
	}

	&-warning {
		background-color: #f08a24;
		color: white;
	}

	&-success {
		background-color: #43ac6a;
		color: white;
	}

	&-secondary {
		background-color: #e7e7e7;
		color: #333333;
	}
}

// BUTTONS
.button {
	// padding: 0.1em 1em 0.3em 1em;
	padding: 0.25em 2em;
	background: $button-default-bg;
	color: white;
}

.btn {
	//	display: inline-block;
	//	font-weight: @btn-font-weight;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	white-space: nowrap;
	padding: $button-padding-vertical $button-padding-horizontal;
	font-size: 0.75em;

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		opacity: 0.65;
		box-shadow: none;
	}
}

.btn-default {
	@include button-variant($button-default-color, $button-default-bg);
	// color: $button-color;
	// background-color: $button-default-background;
	// border-color: darken($button-default-background, 5%);

	// &:focus,
	// &.focus {
	// 	background-color: darken($button-default-background, 5%);
	// 	border-color: darken($button-default-background, 12%);
	// }

	// &:hover {
	// 	background-color: darken($button-default-background, 5%);
	// 	border-color: darken($button-default-background, 7%);
	// }
}

.btn-primary {
	@include button-variant($button-primary-color, $button-primary-bg);
}

.btn-alert {
	@include button-variant($buttonAlertColor, $buttonAlertBg);
}

.btn-nav {
	@include button-variant($buttonNavColor, $buttonNavBg);
}

// TABLES
table {
	background: white;
	// border: 1px solid $form-element-border;
	table-layout: fixed;
	width: 100%;
}

thead,
tfoot {
	color: $elegant-blue;
	// padding: $padding-default;
}

thead {
	border-bottom: 1px solid $form-element-border;
}

tfoot {
	border-top: 1px solid $form-element-border;
}

tr,
th,
td {
	padding: $padding-default;
	font-size: 0.9em;
}

tr,
th {
	text-align: left;
}

tr:nth-of-type(even) {
	background-color: $white-gray;
}

// th {
// 	// background-color: $cement-gray;
// }

// SPINNERS
// SPINNERS
.loading {
	display: flex;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// margin-bottom: 1em;

	// // @media (min-width: $breakpoint-2) {
	// // 	margin: 0;
	// // }
}

.loading-bar {
	display: inline-block;
	width: 4px;
	height: 18px;
	border-radius: 4px;
	animation: loading 1s ease-in-out infinite;
	margin-right: 0.25em;

	&:nth-child(1) {
		background-color: #3498db;
		animation-delay: 0;
	}

	&:nth-child(2) {
		background-color: #c0392b;
		animation-delay: 0.09s;
	}

	&:nth-child(3) {
		background-color: #f1c40f;
		animation-delay: 0.18s;
	}

	&:nth-child(4) {
		background-color: #27ae60;
		animation-delay: 0.27s;
	}
}

@keyframes loading {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1, 2.2);
	}
	40% {
		transform: scale(1);
	}
}

// social icon
.icon {
	height: 25px;
	width: 25px;
	display: inline-block;
	fill: $unbalance-footer;
}

// FUNCTIONAL HELPERS
.spacer {
	margin: 0 1em;
}

.bottom-spacer {
	margin-bottom: 0.25em;
}

.bottom-spacer-half {
	margin-bottom: 0.5em;
}

.bottom-spacer-large {
	margin-bottom: 1em;
}

.bottom-spacer-2x {
	margin-bottom: 2em;
}

.rspacer {
	margin-right: 1em;
}

.lspacer {
	margin-left: 1em;
}

.flex {
	display: flex;
}

.flexSection {
	display: flex;
	flex-direction: row;
}

.direction-column {
	flex-direction: column;
}

.ase {
	align-self: end;
}

.asfe {
	align-self: flex-end;
}

.mt2 {
	margin-top: 0.5em;
}

.flex_i {
	display: flex;
	flex-direction: column;
	height: 100%;
	// background: blue;
}

.height100 {
	height: calc(100vh - 250px);
}

.scroller {
	max-height: inherit;
	overflow-x: auto;
	overflow-y: auto;
}

.circular {
	background: $bodyBackground;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: $button-primary-bg;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 5px;
	text-align: center;
	width: 1.6em;
}

.circular-disabled {
	color: $bodyBackground;
	background: $button-primary-bg;
}

.linkBody {
	display: inline-block;
	padding: $button-padding-vertical $button-padding-horizontal;
}

.linkText {
	color: $bodyBackground;
}

.step {
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	// border: 1px solid transparent;
	white-space: nowrap;
	padding: $button-padding-vertical $button-padding-horizontal;
	font-size: 0.75em;
	color: $button-primary-color;
	background-color: $button-primary-bg;
	border-color: darken($button-primary-bg, 5%);

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		color: $button-primary-bg;
		background-color: $bodyBackground;
		// border-color: darken($color, 5%);
		box-shadow: none;
	}
}

// .direction-row {
// 	flex-direction: row;
// }

// .row {
// //	display: block;
// 	width: 100%;
// 	margin-bottom: 1em;
// }

// // TYPOGRAPHY
// .lead {
// 	border: 1px solid $borderColor;
// }

// // BUTTONS
// .btn {
// //	display: inline-block;
// //	font-weight: @btn-font-weight;
// 	cursor: pointer;
// 	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
// 	border: 1px solid transparent;
// 	white-space: nowrap;
// 	padding: $padding-button-vertical $padding-button-horizontal;
// 	font-size: 0.75em;

// 	&.disabled,
// 	&[disabled],
// 	fieldset[disabled] & {
// 		cursor: not-allowed;
// 		opacity: .65;
// 		box-shadow: none;
// 	}
// }

// .btn-default {
// 	@include button-variant($button-default-color, $button-default-background);
// 	// color: $button-color;
// 	// background-color: $button-default-background;
// 	// border-color: darken($button-default-background, 5%);

// 	// &:focus,
// 	// &.focus {
// 	// 	background-color: darken($button-default-background, 5%);
// 	// 	border-color: darken($button-default-background, 12%);
// 	// }

// 	// &:hover {
// 	// 	background-color: darken($button-default-background, 5%);
// 	// 	border-color: darken($button-default-background, 7%);
// 	// }
// }

// .btn-primary {
// 	@include button-variant($button-primary-color, $button-primary-background);
// }

// // PROGRESS BAR
// // .meter {
// // 	@include flexbox(flex, column, center, center);
// // }

// .progress {
//     background-color: $progress-background;
//     height: 1.5625rem;
//     border: 1px solid white;

//     span {
//   		background: $progress-meter;
//   		height: 100%;
//   		display: block;
//     }
// }

// // STATUS
// .label {
// 	// display: inline;
// 	padding: .3em .6em .3em;
// 	font-size: 75%;
// 	// font-weight: bold;
// 	line-height: 1;
// 	color: $label-color;
// 	// text-align: center;
// 	// white-space: nowrap;
// 	// vertical-align: baseline;
// 	border-radius: .25em;
// }

// .label-success {
// 	background-color: $label-success-bg;
// }

// .label-warning {
// 	background-color: $label-warning-bg;
// }

// // BADGES

// .badge {
// 	padding: 1em;
// }

// .success {
// 	background-color: green;
// 	border: 1px solid lighten(green, 10%);
// }

// .warning {
// 	background-color: $badge-bg;
// 	border: 1px solid darken($badge-bg, 10%);
// }

// // FORMS
// .cd-form {
// //	@include flexbox(flex, column, flex-start, stretch);

// 	margin-bottom: 1em;
// //	border-bottom: 1px $borderColor solid;

// 	div {
// 		/* form element wrapper */
// 		margin: 0.8em 0;

// 		sup {
// 			font-size: 0.5em;
// 			display: inline-block;
// 			color: red;
// 		}
// 	}

// 	fieldset {
// 	    margin: 0;
// 	    padding: 0.35em 0 0.75em;
// 	    border: 0;
// 	}

// 	legend {
// 	//    display: block;
// 	    width: 100%;
// 	    padding: 0.3em 0;
// 	    margin-bottom: 0.3em;
// 	    color: #333;
// 	    border-bottom: 1px solid #e5e5e5;
// 	}

// 	label {
// 		display: block;
// 		font-weight: bold;
// 		margin-bottom: 0.25em;

// 		span {
// 			font-weight: normal;
// 			font-size: 0.65em;
// 			color: #2c97de;
// 		}
// 	}

// 	input {
// 		min-width: 300px;
// 	}

// 	input,
// 	textarea {
// 		font-size: 1.1em;
// 		color: #2b3e51;
//   	}

// 	input[type="text"],
// 	input[type="email"],
// 	input[type="number"],
// 	input[type="password"],
// 	textarea {
// 		display: block;
// 		appearance: none;

// 		padding: 0.25em;
// 		border: 1px solid #cfd9db;
// 		background-color: #ffffff;
// //		border-radius: .25em;
// 		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);

// 		.ng-invalid {
// 		  border: 1px solid red;
// 		}
// 	}

// 	textarea {
// 		width: 100%;
// 	}

// 	input[type="text"]:focus,
// 	input[type="email"]:focus,
// 	input[type="number"]:focus,
// 	input[type="password"]:focus,
// 	textarea:focus {
// 		outline: none;
// 		border-color: #2c97de;
// 		box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
// 	}

// 	textarea {
// 		min-height: 200px;
// 		resize: vertical;
// 		overflow: auto;
// 	}

// 	input[type="submit"] {
// 		/* button style */
// 		border: none;
// 		background: $button-primary-background;
// 		border-radius: .25em;
// 		padding: 1em 1.25em;
// 		color: white;
// 		font-weight: bold;
// 		cursor: pointer;

// 		&:hover {
// 			background: lighten($button-primary-background, 5%);
// 		}

// 		&:focus {
// 			outline: none;
// 			background: darken($button-primary-background, 5%);
// 		}

// 		&:active {
// 			scale: .9;
// 		}
// 	}

// 	.help-block {
// 		font-weight: normal;
// 		font-size: 0.65em;
// 		color: red;
// 	}
// }

// // #form-success,
// // #form-error {
// // 	display: none;
// // 	color: white;
// // 	padding: 0.75em;
// // }

// // #form-success {
// // 	background-color: $contactFormSuccessBackground;
// // }

// // #form-error {
// // 	background-color: $contactFormErrorBackground;
// // }

// // TABLES
// .dashboard {
// 	@media (min-width: $breakpoint-2) {
// 		border-collapse: collapse;
// 		font-size: 0.9em;
// 	}

// 	thead {
// 		display: none;

// 	    @media (min-width: $breakpoint-2) {
// 	      // Undo display: block
// 	      border-bottom: 1px solid $borderColor;
// 	      display: table-header-group;
// 	    }
// 	}

// 	th, td, tr {
// 		display: block;
// 	}

// 	th, td {
// 	    text-align: left;

// 		@media (min-width: $breakpoint-2) {
// 			color: $footerBackground;
// 			display: table-cell;
// 		}
// 	}

// 	tr {
// 		margin-bottom: 1em;

// 		@media (min-width: $breakpoint-2) {
// 			// Undo display: block
// 			display: table-row;
// //			padding: 1em 0.25em;

// 			&:nth-of-type(even) {
// 				background-color: $borderColor;
// 			}
// 		}
// 	}

// 	td {
// 		color: $primaryColor;
// 		background-color: $borderColor;
// 		font-size: 0.75em;
// 		padding: .5rem .25rem;

// 		@media (min-width: $breakpoint-2) {
// 			font-size: 1em;
// 			background-color: transparent;
// //			padding: .5rem .25rem;
// 		}

// 		&:first-child {
// 			color: white;
// 		    background-color: $footerBackground;

// 		    @media (min-width: $breakpoint-2) {
// 		      // Undo display: block
// 		      color: $primaryColor;
// 		      background-color: transparent;
// 		    }

// 		    &:before {
// 		    	width: auto;
// 		    }
// 		}

// 		&:before {
// 			// optional stuff to make it look nicer
// 			width: 6.5em; // magic number :( adjust according to your own content
// 			display: inline-block;
// 			// end options

// 			@media (min-width: $breakpoint-2) {
// 				display: none;
// 			}
// 		}

// 		// &:nth-of-type(1):before { content: "Disk" }
// 		&:nth-of-type(2):before { content: "Serial" }
// 		&:nth-of-type(3):before { content: "From" }
// 		&:nth-of-type(4):before { content: "To" }
// 		&:nth-of-type(5):before { content: "Size" }
// 		&:nth-of-type(6):before { content: "Free" }
// 		&:nth-of-type(7):before { content: "Fill" }
// 		&:nth-of-type(8):before { content: "Plan" }
// 	}

// }

// .settings {
// 	width: 100%;

// 	@media (min-width: $breakpoint-2) {
// 		border-collapse: collapse;
// 		font-size: 0.9em;
// 	}

// 	thead {
// 		display: none;

// 	    @media (min-width: $breakpoint-2) {
// 	      // Undo display: block
// 	      border-bottom: 1px solid $borderColor;
// 	      display: table-header-group;
// 	    }
// 	}

// 	th, td, tr {
// 		display: block;
// 	}

// 	th, td {
// 	    text-align: left;

// 		@media (min-width: $breakpoint-2) {
// 			color: $footerBackground;
// 			display: table-cell;
// 		}
// 	}

// 	tr {
// 		margin-bottom: 1em;

// 		@media (min-width: $breakpoint-2) {
// 			// Undo display: block
// 			display: table-row;
// //			padding: 1em 0.25em;

// 			&:nth-of-type(even) {
// 				background-color: $borderColor;
// 			}
// 		}
// 	}

// 	td {
// 		color: $primaryColor;
// 		background-color: $borderColor;
// 		font-size: 0.75em;
// 		padding: .5rem .25rem;

// 		@media (min-width: $breakpoint-2) {
// 			font-size: 1em;
// 			background-color: transparent;
// //			padding: .5rem .25rem;
// 		}

// 		&:first-child {
// 			color: white;
// 		    background-color: $footerBackground;

// 		    @media (min-width: $breakpoint-2) {
// 		      // Undo display: block
// 		      color: $primaryColor;
// 		      background-color: transparent;
// 		    }

// 		    &:before {
// 		    	width: auto;
// 		    }
// 		}

// 		&:before {
// 			// optional stuff to make it look nicer
// 			width: 6.5em; // magic number :( adjust according to your own content
// 			display: inline-block;
// 			// end options

// 			@media (min-width: $breakpoint-2) {
// 				display: none;
// 			}
// 		}

// 		// &:nth-of-type(1):before { content: "Disk" }
// 		&:nth-of-type(2):before { content: "Serial" }
// 		&:nth-of-type(3):before { content: "From" }
// 		&:nth-of-type(4):before { content: "To" }
// 		&:nth-of-type(5):before { content: "Size" }
// 		&:nth-of-type(6):before { content: "Free" }
// 		&:nth-of-type(7):before { content: "Fill" }
// 		&:nth-of-type(8):before { content: "Plan" }
// 	}

// }

// // SPINNERS
// .loading {
// 	display: flex;
// 	// position: absolute;
// 	// top: 50%;
// 	// left: 50%;
// 	// margin-bottom: 1em;

// 	// // @media (min-width: $breakpoint-2) {
// 	// // 	margin: 0;
// 	// // }
// }

// .loading-bar {
// 	display: inline-block;
// 	width: 4px;
// 	height: 18px;
// 	border-radius: 4px;
// 	animation: loading 1s ease-in-out infinite;
// 	margin-right: 0.25em;

// 	&:nth-child(1) {
// 		background-color: #3498db;
// 		animation-delay: 0;
// 	}

// 	&:nth-child(2) {
// 		background-color: #c0392b;
// 		animation-delay: 0.09s;
//   	}

// 	&:nth-child(3) {
// 		background-color: #f1c40f;
// 		animation-delay: .18s;
// 	}

// 	&:nth-child(4) {
// 		background-color: #27ae60;
// 		animation-delay: .27s;
// 	}
// }

// @keyframes loading {
//   0% {
//     transform: scale(1);
//   }
//   20% {
//     transform: scale(1, 2.2);
//   }
//   40% {
//     transform: scale(1);
//   }
// }
