// a, img {
// 	display: flex;
// }

header {
	margin: 0.5em 0;
}

main {
	flex: 1;
}

footer {
	color: $footerColor;
	background-color: $footerBackground;

	padding: 0.5em 0;
	margin: 0.5em 0;

	font-size: 0.75em;

	a {
		color: $footerAnchorColor;
	}
}

a,
img {
	display: flex;
}

p {
	line-height: 2em;
}

.social {
	font-size: 2em !important;
	color: $headerMenuBackground;
}

// SPECIAL TEXT
.fund {
	color: $footerColor;
}

.opWarning {
	color: $label-alert-bg;
}

.headerLogoBg {
	background-color: $headerLogoBackground;
}

.headerMenuBg {
	background-color: $headerMenuBackground;
}

.routerSection {
	span,
	a {
		font-size: 0.9em;
	}

	a {
		&.active {
			color: $headerMenuAnchorColor;
			// padding-bottom: 3px;
			font-weight: bold;
			border-bottom: 1px solid $headerMenuAnchorColor;
		}
	}
}

.statsSection {
	font-size: 0.8em;
}

.gridHeader {
	background-color: $headerMenuBackground;
	// padding: 1em 0;

	label {
		font-size: 0.75em;
	}
}

// .gridSection {
// }

.console {
	// display: flex;

	overflow-y: auto;
	overflow-x: hidden;
	// width: 100%;
	// border: 1px solid $console-border;
	padding: 0.75em;
	color: $consoleColor;
	background-color: $consoleBg;

	.consoleLine {
		font-size: 0.8em;
		// line-height: 0.5em;
	}

	p {
		margin-bottom: 0;
		white-space: nowrap;
	}
}

.console-feedback {
	height: 300px;
}

.console-logs {
	// flex: 1;
	// min-height: 100vh;
	height: 700px;
}

.treeView {
	user-select: none;
	padding: 0.5em;
	// background-color: $cement-gray;

	ul {
		margin: 0;
		padding: 0;
		padding-left: 1em;
	}

	& > ul {
		padding-left: 0;
	}

	li {
		list-style-type: none;
	}

	.floating {
		margin-right: 0.5em;
		visibility: hidden;
	}

	& .listItem:hover > .floating {
		visibility: visible;
	}

	.chevron {
		color: $silverChalice;
	}
}

// .sidebar,
// .content {
// 	color: $primaryTextColor;
// 	// padding: 1em;
// }

.sidebar {
	background-color: $cement-gray;
}

// .content {
// 	background-color: white;
// }

.explorerHeader {
	color: $light-gray;
	padding-bottom: 0.25em;
	font-size: 0.9em;
	background-color: $explorerHeader;
}

.explorerContent {
	background-color: $explorerContent;
	// padding: 0.5em;
	border-bottom: 1px solid $explorerHeader;
}

.explorerChosen {
	padding: 0.5em;
	background-color: $explorerChosen;
}

.feedback {
	color: darken($state-feedback-bg, 40%);
	font-size: 0.8em;

	.title {
		color: $footerBackground;
		font-size: 0.5em;
		// border-bottom: 1px solid darken($state-feedback-bg, 10%);
	}
}

.update {
	color: $consoleColor;
	font-size: 0.8em;

	.title {
		color: $footerBackground;
		font-size: 0.5em;
		// border-bottom: 1px solid darken($state-feedback-bg, 10%);
	}
}

.progress {
	background-color: $progressBackground;
	height: 1.5625rem;
	border: 1px solid white;

	span {
		background: $progressMeter;
		height: 100%;
		display: block;
	}
}

.topAlign {
	vertical-align: top;
}

.gatherSource {
	color: $elegant-blue;
	background-color: white;
	border-bottom: 1px solid $form-element-border;
	padding: $padding-default;
	font-size: 0.9em;
}

.statusDone {
	color: $unbalance-green;
}

.statusInProgress {
	color: $unbalance-footer;
}

.statusPending {
	color: $gray-blue;
}

.statusInterrupted {
	color: $dark-red;
}

.transferHeader {
	color: $cement-gray;
	background-color: $gray-blue;
	font-size: 1.5em;
	padding: 0.5em;
}

.indicator {
	border: 1px solid $unbalance-footer;
}

.indicatorHeader {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.indicatorBorder {
	border-bottom: 1px solid $unbalance-footer;
	padding-bottom: 0.5em;
}

.indicatorContent {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.indicatorLabel {
	font-size: 1.25em;
	// border-bottom: 1px solid $unbalance-footer;
	// padding: 0.5em 0;
}

.indicatorValue {
	font-size: 2em;
	color: $unbalance-footer;
}

.chevron {
	font-size: 1.75em;
}

.historyItem {
	background-color: $mirage;
	padding: 0.5em;
}

.historyTitle {
	font-size: 1.5em;
	color: $lighter-gray;
}

.historyValue {
	font-size: 2em;
	color: white;
}

.historyLabel {
	padding-left: 0.25em;
	padding-right: 0.25em;
	font-size: 0.75em;
	background-color: $black-pearl;
	color: $cement-gray;
	border-radius: 3px;
}

.historyTime {
	color: $cement-gray;
}
