// a, img {
// 	display: flex;
// }

header {
	margin: 0.5em 0;
}

main {
	flex: 1;
}

footer {
	color: $footerColor;
	background-color: $footerBackground;

	padding: 0.5em 0;
	margin: 0.5em 0;

	font-size: 0.75em;

	a {
		color: $footerAnchorColor;
	}
}

a,
img {
	display: flex;
}

p {
	line-height: 2em;
}

.social {
	font-size: 2em !important;
	color: $headerMenuBackground;
}

// SPECIAL TEXT
.fund {
	color: $footerColor;
}

.opWarning {
	color: $label-alert-bg;
}

.headerLogoBg {
	background-color: $headerLogoBackground;
}

.headerMenuBg {
	background-color: $headerMenuBackground;
}

.noticeContent {
	padding: 0.5em 2em;
	font-size: 0.75em;
}

.noticeBg {
	background-color: $noticeBackground;
}

.noticeColor {
	color: $consoleColor;
}

.routerSection {
	span,
	a {
		font-size: 0.9em;
	}

	a {
		&.active {
			color: $headerMenuAnchorColor;
			// padding-bottom: 3px;
			font-weight: bold;
			border-bottom: 1px solid $headerMenuAnchorColor;
		}
	}
}

.gridHeader {
	background-color: $headerMenuBackground;

	label {
		font-size: 0.75em;
	}
}

.console {
	overflow-y: auto;
	overflow-x: hidden;

	padding: 0.75em;
	color: $consoleColor;
	background-color: $consoleBg;

	.consoleLine {
		font-size: 0.8em;
	}

	p {
		margin-bottom: 0;
		white-space: nowrap;
	}
}

.console-feedback {
	height: 300px;
}

.console-logs {
	height: 700px;
}

.treeView {
	user-select: none;
	padding: 0.5em;

	ul {
		margin: 0;
		padding: 0;
		padding-left: 1em;
	}

	& > ul {
		padding-left: 0;
	}

	li {
		list-style-type: none;
	}

	.floating {
		margin-right: 0.5em;
		visibility: hidden;
	}

	& .listItem:hover > .floating {
		visibility: visible;
	}

	.chevron {
		color: $silverChalice;
	}
}

.explorerHeader {
	color: $light-gray;
	padding-bottom: 0.25em;
	font-size: 0.9em;
	background-color: $explorerHeader;
}

.explorerContent {
	background-color: $explorerContent;
	// padding: 0.5em;
	border-bottom: 1px solid $explorerHeader;
}

.explorerChosen {
	padding: 0.5em;
	background-color: $explorerChosen;
}

.feedback {
	color: darken($state-feedback-bg, 40%);
	font-size: 0.8em;

	.title {
		color: $footerBackground;
		font-size: 0.5em;
		// border-bottom: 1px solid darken($state-feedback-bg, 10%);
	}
}

.update {
	color: $consoleColor;
	font-size: 0.8em;

	.title {
		color: $footerBackground;
		font-size: 0.5em;
		// border-bottom: 1px solid darken($state-feedback-bg, 10%);
	}
}

.progress {
	background-color: $progressBackground;
	height: 1.5625rem;
	border: 1px solid white;

	span {
		background: $progressMeter;
		height: 100%;
		display: block;
	}
}

.topAlign {
	vertical-align: top;
}

.gatherSource {
	color: $elegant-blue;
	background-color: white;
	border-bottom: 1px solid $form-element-border;
	padding: $padding-default;
	font-size: 0.9em;
}

.statusDone {
	color: $unbalance-green;
}

.statusFlagged {
	color: $warning-yellow;
}

.statusInProgress {
	color: $unbalance-footer;
}

.statusPending {
	color: $gray-blue;
}

.statusInterrupted {
	color: $dark-red;
}

.transferHeader {
	color: $cement-gray;
	background-color: $gray-blue;
	font-size: 1.5em;
	padding: 0.5em;
}

.indicator {
	border: 1px solid $unbalance-footer;
}

.indicatorHeader {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.indicatorBorder {
	border-bottom: 1px solid $unbalance-footer;
	padding-bottom: 0.5em;
}

.indicatorContent {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.indicatorLabel {
	font-size: 1.25em;
	// border-bottom: 1px solid $unbalance-footer;
	// padding: 0.5em 0;
}

.indicatorValue {
	font-size: 2em;
	color: $unbalance-footer;
}

.chevron {
	font-size: 1.75em;
}

.historyItem {
	background-color: $mirage;
	padding: 0.5em;
}

.historyTitle {
	font-size: 1.5em;
	// color: $lighter-gray;
}

.historyValue {
	font-size: 2em;
	color: white;
}

.historyLabel {
	padding-left: 0.25em;
	padding-right: 0.25em;
	font-size: 0.75em;
	background-color: $black-pearl;
	color: $cement-gray;
	border-radius: 3px;
}

.historyTime {
	color: $cement-gray;
}

.opOrange {
	color: $bright-orange;
}

.opYellow {
	color: $warning-yellow;
}

.opWhite {
	color: $lighter-gray;
}

.opBlue {
	color: $angular-blue;
}

.modal {
	position: absolute;
	top: 40%;
	left: 40%;
	right: 40%;
	bottom: 40%;
	background-color: black;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: rgba(2, 36, 60, 0.8);
	background-color: transparent;
	// background: rgba(0, 0, 0, 0.2);
	// background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
