// Fonts
@import url('http://fonts.googleapis.com/css?family=Lato');

// Variables
$container-max-width: 78em;

// $screen-sm-min: 48em !default;
// $screen-md-min: 62em !default;
// $screen-lg-min: 75em !default;
// // $screen-xs-max: ($screen-sm-min - 1) !default;
// // $screen-sm-max: ($screen-md-min - 1) !default;
// // $screen-md-max: ($screen-lg-min - 1) !default;

// $grid-columns: 12 !default;
// $grid-gutter-width: 0.5em !default;

// $container-sm: (46em + $grid-gutter-width) !default;
// $container-md: (64em + $grid-gutter-width) !default;
// $container-lg: (73em + $grid-gutter-width) !default;

// DatePicker Variables
// $border-color: #aeaeae;
// $background-color: #f0f0f0;
// $selected-color: #216ba5;
// $muted-color: #ccc;
// // $text-color: #000;

// $border-radius: 4px;
// $item-size: 24px;
// $day-margin: 2px;
// $triangle-size: 8px;
// $datepicker__margin: 5px;

// Palette
// $rose: #F26A9A;
$white-gray: #f2f2f2;
$light-gray: #f6f7f8;
$lighter-gray: #e9edef;
$cement-gray: #dbe1e5;
$dark-gray: #9da3a7;
$darker-gray: #7c8893;
$silverChalice: #aeaeae;

$elegant-blue: #204862;
$gray-blue: #57626c;
$charcoal-blue: #343642;
$cheerful-blue: #008cba;
$unbalance-blue: #333;
$unbalance-footer: #1e446f;
$angular-blue: #008cba;

$bright-orange: #c63d0f;
$mellow-orange: #f08a24;

$lighter1-red: #f26a9a;
$mellow-red: #ff3b59;
$fiery-red: #f04124;
$bright-red: #d01524;
$acre-red: #c73429;
$dark-red: #b21524;
$soft-red: #f2dede;

$casual-green: #43ac6a;
$unbalance-green: #0bd43b;

$pale-yellow: #fef5c4;

// Dimensions
// $maxWidth: 1250px;
// $pad: 1em;

// // Breakpoints
// $breakpoint-1: 480px;
// $breakpoint-2: 600px;

// Colors
//$bodyBackground: #FDF3E7;
$bodyBackground: $light-gray;
$primaryTextColor: #666;

$borderColor: $silverChalice;

// $primaryAnchorColor: #333;
$primaryAnchorColor: $elegant-blue;
$primaryHeaderColor: $elegant-blue;

// ELEMENTS
$padding-default: 0.5em;

$label-default-bg: $cheerful-blue;
$label-alert-bg: $fiery-red;
$label-warning-bg: $mellow-orange;
$label-success-bg: $casual-green;
$label-secondary-bg: $cement-gray;

$button-default-color: white;
$button-default-bg: $cheerful-blue;
$button-primary-color: white;
$button-primary-bg: $elegant-blue;
$buttonAlertColor: white;
$buttonAlertBg: $dark-red;
$buttonNavColor: $elegant-blue;
$buttonNavBg: $casual-green;

$button-padding-vertical: 0.3em;
$button-padding-horizontal: 1em;

$state-warning-bg: $pale-yellow;
$state-feedback-bg: $soft-red;
$state-update-bg: $casual-green;

$form-element-border: $cement-gray;
$form-addon-bg: $cement-gray;
$form-element-padding-vertical: 0.3em;
$form-element-padding-horizontal: 0.6em;

// HEADER
//$headerLegalColor: white;
// $headerBackground: #DAD7CF;
// $headerBackground: #C63D0F;
$headerLogoAnchorColor: $unbalance-blue;
$headerLogoBackground: $unbalance-green;
//$headerLogoBackground: #609FA2;
// $headerLogoBackground: #F26A9A;

$headerMenuAnchorColor: $elegant-blue;
$headerMenuBackground: $lighter-gray;

// $headerMenuBackground: $cement-gray;

// MAIN
$movie-cover-bg: $lighter-gray;
$article-border-color: $white-gray;
$director-color: $bright-orange;
$movie-title-color: $elegant-blue;

$pagination-hover-bg: $cement-gray;
$pagination-active-bg: $cheerful-blue;
$pagination-border-color: $article-border-color;

$consoleBorder: $light-gray;
$consoleColor: white;
$consoleBg: $charcoal-blue;

$explorerHeader: $elegant-blue;
$explorerContent: $cement-gray;
$explorerChosen: white;

// $progressBackground: #f6f6f6;
// $progressNeter: #008cba;
$progressBackground: $lighter-gray;
$progressMeter: $angular-blue;

// FOOTER
$footerColor: $darker-gray;
$footerBackground: $headerMenuAnchorColor;
//$footer-bg: transparent;
$footerAnchorColor: $headerLogoBackground;

// $legalBackground: #7E8F7D;
// $footer-legal-bg: $gray-blue;
